<p style="color: green"><%= notice %></p>
<div class="rounded-4 mx-auto  h-100 w-100 p-3 border border-danger border-3" style = "background-color: white">

<h1>Grades</h1>

<div id="grades">
  <% @grades.each do |grade| %>
    <%= render grade %>
    <p>
      <%= link_to "Show this grade", grade %>
    </p>
  <% end %>
</div>

<%= link_to "New grade", new_course_enrolment_assessment_grade_path %>

</div>
