<div class="rounded-4 mx-auto  h-100 w-100 p-3 border border-danger border-3" style = "background-color: white">
  <h1>New assessment</h1>

  <%= render "form", assessment: @assessment %>

  <br>

  <div>
    <%= link_to "Back to assessments", course_enrolment_assessments_path %>
  </div>
</div>
