<div id="<%= dom_id enrolment %>">
  <td><%= Student.find(enrolment.student_id).uniID %></td>
  <td><%= Student.find(enrolment.student_id).first_name %></td>
  <td><%= Student.find(enrolment.student_id).last_name %></td>
</div>
