<div class="rounded-4 mx-auto  h-100 w-100 p-3 border border-danger border-3" style = "background-color: white">
  <h1 class="text-primary">MyGrades</h1>

  <p>
    This project aims to provide a student marks system that
    uses a database to manage marks that may be present to students
    in MyUni whether sourced from: MyUni, manually uploaded spreadsheets
    or the Computer Science web submission system. With the advent of
    the new MyUni system there is a need to overcome the limitations of
    the MyUni gradebook. For example, it is not possible to upload marks
    with comments, extracting marks requires manual intervention and there
    are very few ways to collate marks.
  </p>
  <%= button_to "Create Course", new_course_path, method: :get, :class => "mt-3 btn btn-primary" %>
</div>
